<div class="row">
  <div class="col-lg-12">
    <table class="table table-bordered">
      <tr class="bg-info text-light">
        <th>Sr.No</th>
        <th>Customers Details</th>
        <th>Product Details</th>
        <th>Payment Status</th>
        <th>Order Status</th>

      </tr>
      <tr *ngFor="let d of order , let i=index" >
        <td>{{i+1}}</td>
        <td><span class="h6" style="color: rgb(170, 68, 187);">{{d.name}}</span> <br>{{d.address}} {{d.state}}<br>{{d.mono}} </td>
        <td ><ul>
          <li *ngFor="let p of d.products"><span class="h6">Name :</span>{{p.name}} <br>
            <span class="h6">price :</span>{{p.price | currency:"INR"}} <br>
            <span class="h6">QTY :</span> {{p.qty}} <br> <br>
          </li>
        </ul></td>
        <td>{{d.status}}</td>
        <td><button class="btn btn-info">Dispatched</button></td>
      </tr>
    </table>

  </div>
</div>

