#total{
padding: 5%;
  background-image: linear-gradient(to right, rgb(242, 112, 156), rgb(255, 148, 114));

}
#total1{
  padding: 5%;

  background-image: linear-gradient( 109.6deg, rgba(156,252,248,1) 11.2%, rgba(110,123,251,1) 91.1% );
}
